<%- include("header") -%>
<h2>
    This is About page
</h2>

<ul>
    <li>
        Contact Number @XXXXXXXXXX 
    </li>
    <li>
        Mail to abcd@gmail.com 
    </li>
</ul>

<%- include("footer") -%>